{ erl_opts, [debug_info] }.
{ deps, [
    { jsx,              "2.8.0" },
    { erlware_commons,  "0.21.0" },
    { url,              { git, "git://github.com/wrren/url.erl.git", { branch, "master" } } },
    { want,             { git, "git://github.com/wrren/want.erl.git", { branch, "master" } } }
] }.
{ ct_opts, [{ config, "config/test.config" }] }.