{ erl_opts, [debug_info] }.
{ deps, [
    { jsx,              "2.8.0" },
    { erlware_commons,  { git, "git://github.com/wrren/erlware_commons.git", { ref, "3ad087f8e020b521ed3d70c89b563cef464510fe" } } },
    { url,              { git, "git://github.com/wrren/url.erl.git", { branch, "master" } } },
    { want,             { git, "git://github.com/wrren/want.erl.git", { branch, "master" } } }
] }.
{ ct_opts, [{ config, "config/test.config" }] }.